	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}theme/js/scripts.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>window.cookieconsent_options = {"message":"Durch den Besuch dieser Webseite erklären Sie sich damit einverstanden, dass Cookies auf Ihrem Endgerät gespeichert werden dürfen.","dismiss":"Alles klar!","learnMore":"Mehr Informationen","link":"{{ .Site.BaseURL }}datenschutzerklaerung/#cookies","theme":"dark-floating"};</script>
	<script async src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
	<noscript><p><img src="//piwik.marvin-menzerath.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
</body>
</html>
