{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}
<main>
    {{ $paginator := .Paginate (where .Data.Pages "Section" "artikel") }}
    {{ range $paginator.Pages }}
        <article class="post">
            <header class="post-header">
                <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <div class="post-meta">
                    <i class="fa fa-calendar"></i> <time datetime="{{ .Date.Format "2006-01-02" }}" class="fulldate">{{ .Date.Format "02. January 2006" }}</time>&nbsp;&nbsp;
                    <i class="fa fa-tag"></i> {{ range $i, $e := .Params.tag }}{{ if $i }}, {{ end }}<a href="{{ $.Site.BaseURL }}tag/{{ . | urlize }}">{{ . }}</a>{{ end }}&nbsp;
                    <i class="fa fa-comment"></i> <a href="{{ .Permalink }}#disqus_thread" data-disqus-identifier="{{ .RelPermalink }}">Kommentare</a>
                </div>
            </header>
            <section class="post-excerpt">
                {{ .Summary }}
                {{ if .Truncated }}<a class="read-more" href="{{ .Permalink }}" title="Weiterlesen">Weiterlesen &raquo;</a>{{ end }}
            </section>
        </article>
    {{ end }}
    {{ partial "ads.html" . }}
    {{ partial "pagination.html" . }}
</main>
{{ partial "footer.html" . }}