RewriteEngine On
RewriteCond %{HTTP_HOST} !=menzerath.eu
RewriteRule (.*) https://menzerath.eu/$1 [R=301,L]

Header always set Strict-Transport-Security "max-age=15552000" env=HTTPS

ErrorDocument 404 /404.html

Redirect 301 /feed/ /index.xml
Redirect 301 /feed /index.xml
Redirect 301 /rss/ /index.xml
Redirect 301 /rss /index.xml
