RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} !=menzerath.eu
RewriteRule (.*) https://menzerath.eu/$1 [R=301,L]

ErrorDocument 404 /404.html

Redirect 301 /feed/ /index.xml
Redirect 301 /feed /index.xml
Redirect 301 /rss/ /index.xml
Redirect 301 /rss /index.xml
